* {
    margin: 0;;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url('../assets/background_main.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 50px;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(8px);
    z-index: -1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(to right, rgb(200,227,239), white);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.logo {
    height: 60px;
}

#details {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:80%;
    height:auto;
    gap:10px;
    text-align: center;
}

img#actor_frame{
    max-height: auto;
    max-width:250px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

h1#title{
    font-weight: bold;
}

label#dates_title{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 15px;
}

.note {
    color: #5f6368; /* Gris doux */ 
}

#films{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 98%;
    gap: 7px;
}

.film {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 250px;
    gap: 5px;
    text-align: center;

}

.film_img {
    height: auto;
    width: 100px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.film_img:hover {
    transform: scale(1.1);
    /* Agrandit légèrement l'image */
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.4);
    /* Accentue l'ombre */
}

.film_title {
    font-weight: bold;
    margin-top: 8px;
}

#role_name {
    font-style: italic;
}

#cast_detail{
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em ;
    margin-top: 30px;
    width:70%;
    margin-left: 15%;
    margin-right: 15%;
}
#cast_detail summary{
    font-size: 27px;
}