body {
    display: flex;
    flex-direction: column; /* Met tout en colonne (vertical) */
    align-items: center; /* Centre horizontalement */
    justify-content: flex-start; /* Aligne en haut */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0;
}

header {
    width: 100%;
    height: 100px; /* Hauteur du header */
    display: flex;
    align-items: center; /* Centre verticalement les éléments */
    padding-left: 20px;
    background: linear-gradient(to right, rgb(30, 184, 215), 10%, white);
}

.logo {
    height: 80px; /* L’image prend toute la hauteur du header */
    width: auto; /* Garde les proportions */
}